@font-face {
    font-family: 'Disclaimer';
    src: url(../fonts/Disclaimer-Classic.otf);
}

@font-face {
    font-family: 'Mont';
    src: url(../fonts/Montserrat-Thin.ttf);
}

header{
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.top{
    color: white;
    text-align: center;
    font-family: 'Disclaimer';
    font-size: 120px;
    letter-spacing: 0.08em;
}

.sort{
    text-align: center;
    padding-top: 0px;
    
}

.sortItem{
    margin: 0px 10px;
    font-family: 'Mont';
    font-size: 18px;
}

body{
    background-color: #111212;
    color: #f0f8ff;
    background-image: radial-gradient(at 70% 0%, rgb(70, 88, 110) -70%, rgba(17, 18, 18, 1) 80%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.grid img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.grid{
    position: relative;

}

.item{
    display: block;
    position: absolute;
    width: 24%;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}

.item-content{
    position: relative;
    width: 100%;
    height: 100%;
}